.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
}
@media (max-width: 550px) {
  .app {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr;
  }
}
